<!-- ADD ACCURATE LINKS -->

<nav class="nav nav-tabs navbar-dark bg-dark">
  <a class="nav-item nav-link bg-dark" routerLink="login"> Home</a>

  <div ngbDropdown class="d-inline-block">
    <button class="nav-item nav-link bg-dark" id="dropdown" ngbDropdownToggle>
      Games
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <a class="dropdown-item bg-dark" routerLink="match" ngbDropdownItem
        >Picture Matching</a>
      <a class="dropdown-item bg-dark" routerLink="notImplemented" ngbDropdownItem
        >Under Construction!</a>
    </div>
  </div>

  <a class="nav-item nav-link bg-dark" routerLink="leaderboard">
    LeaderBoards</a>
  <a class="nav-item nav-link bg-dark" routerLink="profile"> Profile</a>
  <a class="nav-item nav-link bg-dark" routerLink="info"> Card-Info</a>
</nav>

<router-outlet></router-outlet>
