.login-row {
    transform: translateY(120px);
    margin-left: 21%;
    margin-right: 21%;
    background-color: #3b3733;
  }

  .image {
    height: 45em;
    width: auto;
    background-size: cover;
    background-image: url('https://files.slack.com/files-pri/TRDNB7BS7-FTS021HG8/wp2043739-tarot-wallpapers.jpg');
    background-position: center;
}

