<app-header></app-header>
<app-navbar></app-navbar>

<h1 class="d-block p-2 bg-info">Leaderboards</h1>


<ngb-tabset type="pills" (tabChange)="switchGame($event)">
    <div class="container-fluid">
        <ngb-tab title="Card Match" [id]="1">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <h4 class="title">Your Scores</h4>
                            <table class=" table table-striped mx-auto">
                                <thead>
                                    <tr>
                                        <th scope="col">Rank</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Scores</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let score of userScores; let i = index">
                                        <td scope="col">#{{(i+1)}}</td>
                                        <td scope="col">{{score.user.username}}</td>
                                        <td scope="col">{{score.score}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h4>Global High Scores</h4>
                            <table class=" table table-striped mx-auto">
                                <thead>
                                    <tr>
                                        <th scope="col">Rank</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Scores</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let glScore of globalScores; let i = index">
                                        <td scope="col">#{{(i+1)}}</td>
                                        <td scope="col">{{glScore.user.username}}</td>
                                        <td scope="col">{{glScore.score}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Cookie Clicker 5000" [id]="2">
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <h4>Your Scores</h4>
                            <table class=" table table-striped mx-auto">
                                <thead>
                                    <tr>
                                        <th scope="col">Rank</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Scores</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let score of userScores; let i = index">
                                        <td scope="col">#{{(i+1)}}</td>
                                        <td scope="col">{{score.user.username}}</td>
                                        <td scope="col">{{score.score}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h4>Global High Scores</h4>
                            <table class=" table table-striped mx-auto">
                                <thead>
                                    <tr>
                                        <th scope="col">Rank</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Scores</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let glScore of globalScores; let i = index">
                                        <td scope="col">#{{(i+1)}}</td>
                                        <td scope="col">{{glScore.user.username}}</td>
                                        <td scope="col">{{glScore.score}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </div>
</ngb-tabset>

<app-footer></app-footer>