h1 {
    text-align: center;
    color: white;
    margin: 0px;
}

h4 {
    text-align: center;
    color:white;
}

th {
    text-align: center;
    font-size: larger;
}

td {
    text-align: center;
    font-weight: bolder;
}

table {
    background: rgba(255,255,255,0.5);
}

ngb-tab {
    text-align: center;
}

::ng-deep a {
    color: white;
    margin: auto;
}

::ng-deep .nav-pills {
    display: table;
    margin: auto;
    padding: 1em;
}

::ng-deep li {
    display: inline-block;
}

.scrollbar {
    height: 500px;
    margin-bottom: 25px;
    overflow-y: auto;
}

.image {
    height: 42em;
    width: auto;
    background-size: cover;
    background-image: url('../../assets/LeaderBoardBackground.jpg');
    background-position: center;
}