<h1>LeaderBoard</h1>


<ngb-tabset type="pills" [orientation]="vertical">
    <div class="container-fluid">
        <ngb-tab title="Card Match" (click)="switchGame(0)">
            <ng-template ngbTabContent>
                <div class="col-12 col-lg-6">
                    <table>
                        <thead>
                            <h4>Your Scores</h4>
                        </thead>
                        <tbody>
                            <tr *ngFor="let score of userScores; let i = index">
                                <td>#{{(i+1)}}------------------</td>
                                <td>{{score.score}}</td>
                                <td>-----------------</td>
                                <td>{{score.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6">
                    <table>
                        <thead>
                            <h4>Global High Scores</h4>
                        </thead>
                        <tbody>
                            <tr *ngFor="let glScore of globalScores; let i = index">
                                <td>#{{(i+1)}}------------------</td>
                                <td>{{glScore.score}}</td>
                                <td>-----------------</td>
                                <td>{{glScore.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Cookie Clicker 5000" (click)="switchGame(1)">
            <ng-template ngbTabContent>>
                <div class="col-12 col-lg-6">
                    <table>
                        <thead>
                            <h4>Your Scores</h4>
                        </thead>
                        <tbody>
                            <tr *ngFor="let score of userScores; let i = index">
                                <td>#{{(i+1)}}------------------</td>
                                <td>{{score.score}}</td>
                                <td>-----------------</td>
                                <td>{{score.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6">
                    <table>
                        <thead>
                            <h4>Global High Scores</h4>
                        </thead>
                        <tbody>
                            <tr *ngFor="let glScore of globalScores; let i = index">
                                <td>#{{(i+1)}}------------------</td>
                                <td>{{glScore.score}}</td>
                                <td>-----------------</td>
                                <td>{{glScore.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </div>
</ngb-tabset>