<mat-card class = "tp-card">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile>
        <!--<ng-container> -->
            <img (click)="open($event)" id="first" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
        <!-- </ng-container>  -->       
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>


    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

    <mat-grid-tile>
      <img (click)="open($event)" id="second" [src]="source" style="object-fit: cover; height: inherit; width: inherit;"/>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
<!--
<md-content layout-padding>
    <md-grid-list
       md-cols-gt-md = "12" md-cols-sm = "3" md-cols-md = "8"
       md-row-height-gt-md = "1:1" md-row-height = "4:3"
       md-gutter-gt-md = "16px" md-gutter-gt-sm = "8px" md-gutter = "4px">
       
       <md-grid-tile
          ng-repeat = "tile in ctrl.colorTiles"
          ng-style = "{
             'background': tile.color
          }"
          md-colspan-gt-sm = "{{tile.colspan}}"
          md-rowspan-gt-sm = "{{tile.rowspan}}">
       </md-grid-tile>
       
    </md-grid-list>
 </md-content>
 -->