.tp-card {
    max-height: 100px;
 }
 .tile-image {
    width:100%;
    height: auto;
  }
  .image {
   height: 48em;
   width: auto;
   background-size: cover;
   background-image: url('https://a-static.besthdwallpaper.com/path-to-the-gothic-choir-wallpaper-3440x1440-26843_15.jpg');
   background-position: center;
 }