<app-header></app-header>
<app-navbar></app-navbar>
  
<body class="image">
 <button mat-button color="primary" (click)="fourbyfour()">4 by 4 grid</button> <button mat-button color="accent" (click)="sixbysix()">6 by 6 grid</button>

  <hr/>
  
  <mat-card class = "tp-card">
      <mat-grid-list [cols]="cols" rowHeight="100px">
          <mat-grid-tile  *ngFor="let card of cardList" >
              <img (click)="open($event, card.id)" [src]="card.imageUrl" style="object-fit: cover; height: inherit; width: inherit;"/>          
          </mat-grid-tile>
        </mat-grid-list>    
  </mat-card>  

</body>