
  
 <button mat-fab color="accent" (click)="fourbyfour()">4 by 4 grid"</button> <button mat-fab color="accent" (click)="sixbysix()">6 by 6 grid"</button>
  <button mat-button value="4 by 4 grid" (click)="fourbyfour()"></button><button value="6 by 6 grid" (click)="sixbysix()"></button>

  <hr/>
  
  <mat-card class = "tp-card">
      <mat-grid-list [cols]="cols" rowHeight="100px">
          <mat-grid-tile  *ngFor="let card of cardList" >
              <img (click)="open($event, card.id)" [src]="card.imageUrl" style="object-fit: cover; height: inherit; width: inherit;"/>          
          </mat-grid-tile>
        </mat-grid-list>    
  </mat-card>  